<h1> Criar Post </h1>

<form action="/admin" method="POST">
  <div>
    <label for="inputTitle">Titulo: </label>
    <input name="title" id="inputTitle" placeholder="Titulo">
  </div>

  <div>
    <label for="inputDescription">Descrição: </label>
    <textarea name="description" id="inputDescription" placeholder="Descrição" cols="30" rows="10"></textarea>
  </div>

  <button>Enviar</button>
</form>